@code{
    [Parameter] public IEvent Event { get; set; }

    [Parameter] public Day CurrentDay { get; set; }

    public DailyTimeIntervals DailyIntervals { get; set; }

    public IEnumerable<DailyTimeIntervals> TimeIntervals { get => DailyTimeIntervals.TimeIntervals; }

    protected override Task OnParametersSetAsync()
    {
        return Task.CompletedTask;
    }

    internal void SetCurrentDay(Day day)
    {
        CurrentDay = day;
    }
}
@if (CurrentDay != null)
{
<div class="card">
    <h3 class="card-header text-dark">@CurrentDay.DayOfWeek</h3>

    <div class="card-body" style="max-height:500px;overflow-y:auto;">
        <ul class="list-group">
            @foreach (var item in TimeIntervals)
            {
                <li class="list-group-item">
                    <a href="javascript:void(0)" class="text-center">
                        <div>@item.TotalTimeSpan</div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
}