@code {

    string textColor;

    [Parameter] public string TextColor
    {
        get => $"color:{textColor};";
        set { textColor = value; }
    }

    [Parameter] public string ClassCss { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [CascadingParameter] HeaderBar Header { get; set; }

    protected override void OnInitialized()
    {
        Header.AddColumn(this);
        StateHasChanged();
    }
}
<div class="col-sm">
    <div class="container-fluid @ClassCss" style="@TextColor">
        @ChildContent
    </div>
</div>